*{
    margin: 0px;
    padding: 0px;
    
}

.fondo1{
    background: url(background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center center;
}

.fondo2{
    background: url(fondo2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center center;
}


.menu{
    background-color: rgba(255,255,235, 0.4) ;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    border-bottom: solid 1px;
    text-align: right;
}

ul li{
    list-style: none;
    width: auto;
    display: inline-block;
}

ul li a{
    display: block;
    font-family: 'Alfa Slab One', cursive;
    font-size: 45px;
    text-decoration: none; 
    margin-left: 15px;
    -webkit-text-stroke: 2px black;
    color: transparent;
}

ul li a:hover{
    color: #d8af97;
}

div img {
    width: 60%;
    position: fixed;
}

.carta{
    width: 60%;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 20%;
    margin-top: 1%;
    
}

.mojitos, .palomas, .cockteleria{
    text-align: center;
}

.cartamojito, .cartapalomas, .cartacockteleria{
    width: 80%;
}

@media screen and (max-width: 800px){

    .menu{
        width: 90%;
        margin-right: 5px;
    }

    ul li a{
        font-size: 30px;
    }

    .carta{
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 500px) {
    .menu{
        width: 90%;
        margin-right: 5px;
    }

    ul li a{
        font-size: 20px;
    }

    .carta{
        width: 80%;
        margin-left: 10%;
    }

    .cartamojito, .cartapalomas, .cartacockteleria{
        width: 100%;
    }
}

